.container {
  padding-top: 5px;
  flex-direction: column;
  display: flex;
  gap: 20px;

  p-select,
  input {
    width: 100%;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 20px;
}
