<div class="card">
  <p-table [value]="events()" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Type</th>
        <th>Place</th>
        <th>
          <div class="actions">
            <p-button label="Reset" severity="info" (onClick)="resetList()"></p-button>
            <p-button label="Add" (onClick)="openDialog()"></p-button>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template #body let-event>
      <tr>
        <td>{{ event.name }}</td>
        <td>{{ event.description }}</td>
        <td>{{ event.type }}</td>
        <td>{{ event.place }}</td>
        <td>
          <div class="actions">
            <p-button label="Edit" (onClick)="openDialog(event)" />
            <p-button label="Delete" severity="danger" (onClick)="deleteEvent(event.id)" />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-event-dialog
  [editableEvent]="editableEvent()"
  [visible]="visibleEventDialog()"
  (closeDialog)="closeDialog()"
></app-event-dialog>
